@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Eczar&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Eczar', serif;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: var(--lightBrown);
}


body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}


:root {
  --mainColor: #f5e6c5;
  --secondaryColor: #014620;
  --accentColor: #f5b49f;
  --lightGray: #dddcd6;
  --olive: #b3b298;
  --lightGreen: #a9b2a2;
  --brown: #b99880;
  --beigeYellow: #F8EDE3;
  --lightBrown: #FEF5ED;
  --lime: #D3E4CD;
}

.products {
  background-color: var(--lightGray);
  padding: 100px 100px;
  border-radius: 50px;
}

.session_title {
  text-align: center;
  color: var(--secondaryColor);
}

.container {
  width: 100%;
}

/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 700px) {
  .products {
    background-color: var(--lightGray);
    padding: 30px 20px;
    border-radius: 50px;
  }
}


/* Extra small devices (phones, up to 480px)  */
@media (min-width: 575px) {
  .products {
    background-color: var(--lightGray);
    padding: 40px 40px;
    border-radius: 50px;
  }
}

/* Small devices (tablets, 768px and up)  */
@media (min-width: 700px) and (max-width: 991px) {
  .products {
    background-color: var(--lightGray);
    padding: 40px 45px;
    border-radius: 50px;
  }
}

/* tablets/desktops and up ———–  */
@media (min-width: 992px) and (max-width: 1199px) {}