.img-thumbnail {
    width: 100%;
    height: auto;
}

.single_product {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.cart_block2 {
    margin-left: 40px;
}

/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 700px) {}

/* Extra small devices (phones, up to 480px)  */
@media (min-width: 575px) {}

/* Small devices (tablets, 768px and up)  */
@media (min-width: 700px) and (max-width: 991px) {}

/* tablets/desktops and up ———–  */
@media (min-width: 992px) and (max-width: 1199px) {}