/***************************** Footer ********************************/
.Footer {
    margin-top: 50px;

}

.footer_follow {
    background-color: var(--lightGreen);
    padding: 30px 0px 0px 70px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25vh;
}

.footer_block1 {
    display: flex;
    flex-direction: column;
    width: 30%;

}

.footer_block2 {
    width: 35%;
    padding-left: 40px;
}

.footer_block3 {
    width: 35%;
}

.souls {
    color: #747474;
}

.footer_block1>h5 {
    margin-bottom: 0px;
    color: #000;

}

.footer_block1>p {
    margin-right: 30px;
    color: var(--lightBrown);
    font-size: 19px;
}

.footer_block2>h5 {
    margin-bottom: 0px;
    color: #000;
}

.footer_block2>a {
    text-decoration: none;
    color: var(--lightBrown);
}

.link_highlight {
    background:
        linear-gradient(to bottom,
            var(--mainColor) 0%,
            var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: #000;
    text-decoration: none;
    transition: .4s;
}

.link_highlight:hover {
    background-size: 4px 50px;
    color: #000;
}

.footer_block3>h5 {
    margin-bottom: 0;
    color: #000;
}

.footer_link {
    display: flex;
    width: 20px
}

.ig_icon {
    font-size: 20px;
    color: #000;
}

.ig_icon {
    transition: all 0.3s linear;
    color: var(--lightBrown);
}

.ig_icon:hover {
    transform: scale(1.5);
    color: #e11d74;
}

.copyright {
    text-align: left;
    font-size: 15px;
    color: var(--lightBrown);
    background-color: var(--secondaryColor);
    margin-bottom: 0;
    padding: 20px 0px 20px 70px;
}

/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 700px) {
    .footer_follow {
        padding: 10px 0px 0px 10px;
    }

    .footer_block1>p {
        font-size: 12px;
        margin: 0;
    }

    .footer_block2 {
        padding-left: 15px;
    }

    .copyright {
        padding: 20px 0 20px 20px;
    }
}

/* Extra small devices (phones, up to 480px)  */
@media (min-width: 575px) {

    .footer_block2 {
        padding: 0px 15px;
    }

    .footer_follow {
        padding: 20px 0px 0px 20px;
    }
}

/* Small devices (tablets, 768px and up)  */
@media (min-width: 700px) and (max-width: 991px) {
    .footer_follow {
        padding: 20px 0px 0px 20px;
    }

    .footer_block1>p {
        font-size: 15px;
        margin: 0;
    }

    .footer_block2 {
        padding: 0px 15px;
    }

    .copyright {
        padding: 20px 0 20px 20px;
    }
}

/* tablets/desktops and up ———–  */
@media (min-width: 992px) and (max-width: 1920px) {
    .footer_follow {
        padding: 30px 0px 0px 30px;
    }

    .footer_block1>p {
        font-size: 20px;
        margin: 0;
    }

    .footer_block2 {
        padding: 0px 15px;
    }

    .copyright {
        padding: 20px 0 20px 20px;
    }
}