.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    margin: 150px 0px;
}

.about_block2 {
    display: flex;
    align-items: center;
}

.about_block1 {
    padding-left: 30px;

}

.about_block2>p {
    padding: 0px 50px 0px 80px;
    text-align: center;
    font-size: 22px;
    color: var(--secondaryColor);
}

.chamber_about {
    color: var(--brown);
}

.about_vid {
    width: 600px;
    height: auto;
    border-radius: 60%;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgb(243, 230, 203), rgb(148, 205, 127)) border-box;
    border: 7px solid transparent;
}