.banner {
    width: 100%;
    padding: 120px 0px 100px 0px;
    background-color: var(--lightGreen);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgb(236, 232, 221);

}